{% extends "home.html" %} {% block content %}
<head>
  <link rel="stylesheet" href="/static/assets/css/account.css" />
</head>

<section id="profileSection" class="container-fluid">
  <div class="container profile">
    <div class="sidebar">
      <h2>{{users.first_name}} {{users.last_name}}</h2>
      <ul>
        <li class="active" id="profileTabLink" onclick="showProfile()">
          <i class="bi bi-person-fill"></i>Profile
        </li>
        <li id="ordersTabLink" onclick="showOrders()">
          <i class="bi bi-cart-check-fill"></i>My Orders
        </li>
      </ul>
    </div>
    <div class="content">
      <div id="profileTab">
        <h3>Profile</h3>
        <hr />
        <form id="profileForm" action="updateAccount" onsubmit="return validateUserForm()" method="post">
          {% csrf_token %}
          <div class="input-cont">
            <label for="fname">First Name</label>
            <input
              value="{{ user.first_name }}"
              type="text"
              id="fname"
              name="fname"
            />
            <span class="error-message" id="fname-error"></span>
          </div>
          <div class="input-cont">
            <label for="lname">Last Name</label>
            <input
              value="{{user.last_name}}"
              type="text"
              id="lname"
              name="lname"
            />
            <span class="error-message" id="lname-error"></span>
          </div>
          <div class="input-cont">
            <label for="email">Email</label>
            <input
              value="{{user.email}}"
              type="email"
              id="email"
              name="email"
            />
            <span class="error-message" id="email-error"></span>
          </div>
          <!-- <div class="input-cont">
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="photo" /><br />
          </div> -->
          
          </div>
          <button class="save-btn">Save Changes</button>
        </form>
        <form action="setNewPassword" onsubmit="return validateSetNewPasswordForm()" id="new-pass" method="post">
          {% csrf_token %}
          <div class="input-cont">
            <label for="password">Password:</label>
            <a href="#" onclick="showChangePassword()">Change Your Password</a>
          </div>
          <div id="changePassword" style="display: none">
            <div class="input-cont">
              <input style="display: none;"
              value="{{user.email}}"
              type="email"
              id="email"
              name="email"
            />
              <label for="newPassword">New Password:</label>
              <input
                type="password"
                id="newPassword"
                name="newPassword"
              />
            <span class="error-message" id="newPassword-error"></span>
            </div>
            <div class="input-cont">
              <label for="confirmPassword">Confirm Password:</label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
              />
            <span class="error-message" id="confirmPassword-error"></span>
            </div>
            <button class="save-btn" type="submit" form="new-pass">Save Password</button>
            <button class="cancel-btn" onclick="cancelChangePassword()">
              Cancel
            </button>
          </form>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    var productsPerPage = 4; // Number of products to display per page
    var currentPage = 1; // Current page

    var products = $(".product-container .product");
    var numPages = Math.ceil(products.length / productsPerPage);

    // Show the products for the current page
    function showPage(page) {
      var startIndex = (page - 1) * productsPerPage;
      var endIndex = startIndex + productsPerPage;

      products.hide().slice(startIndex, endIndex).show();
      $(".pagination-page").text(page);
    }

    // Show the initial page
    showPage(currentPage);

    $(".pagination-button.previous").click(function (e) {
      e.preventDefault();
      if (currentPage > 1) {
        currentPage--;
        showPage(currentPage);
      }
    });

    $(".pagination-button.next").click(function (e) {
      e.preventDefault();
      if (currentPage < numPages) {
        currentPage++;
        showPage(currentPage);
      }
    });
  });

  function showProfile() {
    // document.getElementById("profileTab").style.display = "block";
    // document.getElementById("ordersTab").style.display = "none";
    // document.getElementById("profileTabLink").classList.add("active");
    // document.getElementById("ordersTabLink").classList.remove("active");
    window.open('account','_self');
  }

  function showOrders() {
    // document.getElementById("profileTab").style.display = "none";
    // document.getElementById("ordersTab").style.display = "block";
    // document.getElementById("profileTabLink").classList.remove("active");
    // document.getElementById("ordersTabLink").classList.add("active");
    window.open('orderHistory','_self');
  }

  function showChangePassword() {
    document.getElementById("changePassword").style.display = "block";
  }

  function cancelChangePassword() {
    document.getElementById("changePassword").style.display = "none";
  }

  function validateUserForm () {
    console.log('working');
    const firstNameInput = document.getElementById('fname');
    const lastNameInput = document.getElementById('lname');
    const emailInput = document.getElementById('email');

    const firstNameValue = firstNameInput.value;
    const lastNameValue = lastNameInput.value;
    const emailValue = emailInput.value;

    if (firstNameValue === "") {
      showError(firstNameInput, "*Please enter your first name.");
      return false;
    }

    if (!/^[a-zA-Z]+$/.test(firstNameValue)) {
      showError(firstNameInput, "*First name should only contain letters.");
      return false;
    }

    if (lastNameValue === "") {
      showError(lastNameInput, "*Please enter your last name.");
      return false;
    }

    if (!/^[a-zA-Z]+$/.test(lastNameValue)) {
      showError(lastNameInput, "*Last name should only contain letters.");
      return false;
    }

    if (emailValue === "") {
      showError(emailInput, "*Please enter your email.");
      return false;
    }

    if (!validateEmail(emailValue)) {
      showError(emailInput, "*Please enter a valid email address.");
      return false;
    }

    return true;
  }

  function validateSetNewPasswordForm () {
      const newPasswordInput = document.getElementById('newPassword');
      const confirmPasswordInput =document.getElementById('confirmPassword');

      const newPasswordValue = newPasswordInput.value.trim();
      const confirmPasswordValue = confirmPasswordInput.value.trim();

      if (newPasswordValue === "") {
        showError(newPasswordInput, "*Please enter your new password.");
        return false;
      }

      if (newPasswordValue.length < 8) {
        showError(
          newPasswordInput,
          "*Password should be at least 8 characters long."
        );
        return false;
      }

      if (confirmPasswordValue === "") {
        showError(confirmPasswordInput, "*Please confirm your password.");
        return false;
      }

      if (newPasswordValue !== confirmPasswordValue) {
        showError(confirmPasswordInput, "*Passwords do not match.");
        return false;
      }
      
      return true;
  }

function showError(input, message) {
  const errorSpan = input.nextElementSibling;
  input.classList.add("error");
  errorSpan.textContent = message;
  errorSpan.style.display = "block";

  input.addEventListener("input", () => {
    if (input.classList.contains("error")) {
      input.classList.remove("error");
    }
    errorSpan.style.display = "none";
  });
}

</script>

{% endblock %}
