
{% extends "base.html" %}
{% block content %}
<head>
<link rel="stylesheet" href="static/assets/css/checkout.css" />
</head>

    <section class="container-fluid checkout">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="billing">
              <h2>Billing Information</h2>
              <hr />
              <form action="" class="form">
                <div class="input-field col-lg-12">
                  <label for="full-name">Full Name</label>
                  <input name="full-name" type="text" />
                </div>
                <div class="input-field col-lg-12">
                  <label for="email">Email</label>
                  <input name="email" type="email" />
                </div>
                <div class="input-field2 col-lg-12 row">
                  <div class="input-field col-lg-6">
                    <label for="city">City</label>
                    <input name="city" type="text" />
                  </div>
                  <div class="input-field col-lg-6">
                    <label for="state">State</label>
                    <input name="state" type="text" />
                  </div>
                </div>
                <div class="input-field2 col-lg-12 row">
                  <div class="input-field col-lg-6">
                    <label for="country">Country</label>
                    <input name="country" type="text" />
                  </div>
                  <div class="input-field col-lg-6">
                    <label for="zipcode">Zip Code</label>
                    <input name="zipcode" type="text" />
                  </div>
                </div>
                <button>Save your address</button>
              </form>
            </div>
            <div class="billing">
              <h2>Payment Information</h2>
              <hr />
              <form action="" class="form">
                <!-- <div class="input-field col-lg-12">
                                <label for="full-name">Full Name</label>
                                <input name="full-name" type="text">
                            </div> -->
                <div class="input-field col-lg-12">
                  <label for="cardnumber">Card Number</label>
                  <input name="cardnumber" type="number" />
                </div>
                <div
                  class="input-field2 col-lg-12 row"
                  style="margin-top: 20px"
                >
                  <h6>Expiry Date</h6>
                  <div class="input-field col-lg-4">
                    <label for="city">Month</label>
                    <input name="city" type="text" />
                  </div>
                  <div class="input-field col-lg-4">
                    <label for="state">Year</label>
                    <input name="state" type="text" />
                  </div>
                  <div class="input-field col-lg-4">
                    <label for="state">CVV</label>
                    <input name="state" type="text" />
                  </div>
                </div>
                <!-- <div class="input-field2 col-lg-12 row">
                                <div class="input-field col-lg-6">
                                    <label for="country">Country</label>
                                    <input name="country" type="text" >
                                </div>
                                <div class="input-field col-lg-6">
                                    <label for="zipcode">Zip Code</label>
                                    <input name="zipcode" type="text">
                                </div>
                            </div> -->
                <h5 style="margin-bottom: 30px">Total: $25,000</h5>
                <p style="margin-bottom: 30px">
                  <input style="margin-right: 10px" type="checkbox" />I aggre
                  with the <a href="#">Privacy Policy</a>by Proceesing thie
                  Payment.
                </p>
                <button>Pay Now</button>
              </form>
            </div>
          </div>
          <div class="col-lg-4 details-bx">
            <div class="items">
              <img src="../assets//imgs/api.png" alt="" />
              <div class="details">
                <p>API Automation Testing</p>
                <p style="font-size: 12px">6 Months</p>
                <p style="margin-top: 10px">$10,000</p>
              </div>
            </div>
            <div class="items">
              <img src="../assets//imgs/manual-tesing.png" alt="" />
              <div class="details">
                <p>Manual Functional Testing</p>
                <p style="font-size: 12px">12 Months</p>
                <p style="margin-top: 10px">$15,000</p>
              </div>
            </div>
            <div class="total">
              <h5>Total</h5>
              <h5>$25,000</h5>
            </div>
            <div class="btn">
              <button>View Cart</button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <script>
      const decrementBtn = document.querySelector(".decrement");
      const incrementBtn = document.querySelector(".increment");
      const quantityInput = document.querySelector('input[type="number"]');

      decrementBtn.addEventListener("click", () => {
        let currentValue = parseInt(quantityInput.value);
        if (currentValue > 1) {
          quantityInput.value = --currentValue;
        }
      });

      incrementBtn.addEventListener("click", () => {
        let currentValue = parseInt(quantityInput.value);
        if (currentValue < parseInt(quantityInput.getAttribute("max"))) {
          quantityInput.value = ++currentValue;
        }
      });
    </script>

    {% endblock %}
