<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="iu-o8RRqHkY8vaCsO4tPv5CWoB_XUw8WOXwofHUWWZY" />
    <title>Alpha Test</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-285155115-1%22%3E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-285155115-1');
    </script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Teko:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
  </head>
  <body>
    
    <header class="container-fuild header">
      <div class="container header__container">
        <div class="header__nav-links">
          <div class="header__logo">
            <a href="home">
              <img
                src="../static/assets/imgs/main-logo.png"
                alt=""/>
              </a>
          </div>
          <ul>
            <li><a href="home">Home</a></li>
            <li class="dropdown"><a class="dropbtn" href="#">Services</a>
              <div class="dropdown-content">
                <a href="product1"><p>AI/ML Model Testing</p></a>
                <a href="product2"><p>UI Automation Testing (Web)</p></a>
                <a href="product3"><p>UI Automation Testing (Mobile)</p></a>
                <a href="product4"><p>API Automation Testing</p></a>
                <a href="product5"><p>Smart UI Automation Testing (Web)</p></a>
                <a href="product6"><p>QA Performance & Capacity Planning</p></a>
                <a href="product7"><p>Manual Functional Testing</p></a>
              </div>
            </li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
          </ul>
        </div>
        <div class="header__account-links">
          <a href="account" id="profile_img"><i class="bi bi-person-fill"></i></a>
          <a href="mycart" id="cart"><i class="bi bi-cart-check-fill"></i></a>
          <a id="logout" href="logout">Logout</a>
        </div>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer id="footer" class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="footer__logo">
              <a href="home">
                <img src="../static/assets/imgs/company_logo.png" alt="" />
              </a>
            </div>
            <p class="comlpany-desc">
              Alphabin tech consulting is a trusted provider of comprehensive
              Quality Assurance (QA) testing services. We specialize in ensuring
              the high quality and reliability of software applications across
              various industries.
            </p>
          </div>
          <div class="col-lg-3 all-serv">
            <h5>All Services</h5>
            <p>
              <a href="product1" id="aiModelTestingLink">AI/ML Model Testing</a>
            </p>
            <p>
              <a href="product2" id="uiAutomationWebLink"
                >UI Automation Testing (Web)</a
              >
            </p>
            <p>
              <a href="product3" id="uiAutomationMobileLink"
                >UI Automation Testing (Mobile)</a
              >
            </p>
            <p>
              <a href="product4" id="apiAutomationLink"
                >API Automation Testing</a
              >
            </p>
            <p>
              <a href="product5" id="smartUIAutomationWebLink"
                >Smart UI Automation Testing (Web)</a
              >
            </p>
            <p>
              <a href="product6" id="performanceCapacityPlanningLink"
                >QA Performance & Capacity Planning</a
              >
            </p>
            <p>
              <a href="product7" id="manualFunctionalTestingLink"
                >Manual Functional Testing</a
              >
            </p>
          </div>
          <div class="col-lg-3 useful-links">
            <h5>Social</h5>
            <div class="links">
              <a href="https://www.linkedin.com/company/alphabin/" target="_blank" id="linkedinLink"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://alphabin.co/" id="skypeLink" target="_blank"><i class="bi bi-skype"></i></a>
              <a href="https://www.instagram.com/alphabin_consulting/?next=%2F" id="instagramLink" target="_blank"
                ><i class="bi bi-instagram icon"></i
              ></a>
              <a href="https://www.facebook.com/Alphabin-Technology-Consulting-108525848442844" target="_blank" id="facebookLink"
                ><i class="bi bi-facebook icon"></i
              ></a>
              <a href="https://twitter.com/alphabin_" id="twitterLink" target="_blank"><i class="bi bi-twitter icon"></i></a>
            </div>
          </div>
        </div>
        <hr class="hr" />
        <div class="row term-condition">
          <div class="col-lg-9">
            <h6>Privacy</h6>
            <p>Copyright &copy; Alphabin 2023. All rights reserved.</p>
          </div>
          <div class="col-lg-3">
            <h6>Contact Us</h6>
            <p>info@alphabin.co</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
