{% extends "base.html" %}
{% block content %}

    <section class="banner">
      <div class="container">
        <div class="banner-content">
          <h1>Empowering Your Business with Our Proven QA Strategies</h1>
          <p>
            Delivering Quality Excellence with Our Comprehensive QA Solutions
          </p>
          <a class="cta-button" href="#">Try for free</a>
          <a class="cta-button2" href="#">Get a Demo</a>
        </div>
        <div class="banner-image">
          <img src="../static/assets/imgs/product-imgs/banner.png" alt="Banner Image" />
        </div>
      </div>
    </section>

    <section class="services">
      <div class="container services__container">
        <h2>Our Services</h2>
        <div class="services__list">
          <a href="product1" class="services__item">
            <div class="item_img">
              <img src="../static/assets/imgs/product-imgs/product-1.png" alt="">
            </div>
            <h3>AI/ML Model Testing</h3>
            <p>
              Ensure the accuracy, reliability, and performance of your AI/ML models with comprehensive testing solutions.
            </p>
            <!-- <div class="services__item-arrow">
              <span>&#8594;</span>
            </div> -->
          </a>
          <a href="product2" class="services__item">
            <div class="item_img">
              <img src="../static/assets/imgs/product-imgs/product-2.png" alt="">
            </div>
            <h3>UI Automation Testing (Web)</h3>
            <p>
              Save time and improve accuracy with automated testing of your web application's user interface.
            </p>
            <!-- <div class="services__item-arrow">
              <span>&#8594;</span>
            </div> -->
          </a>
          <a href="product3" class="services__item">
            <div class="item_img">
              <img src="../static/assets/imgs/product-imgs/product-3.png" alt="">
            </div>
            <h3>UI Automation Testing (Mobile)</h3>
            <p>
              Ensure a seamless user experience across multiple devices and platforms with automated mobile UI testing.
            </p>
            <!-- <div class="services__item-arrow">
              <span>&#8594;</span>
            </div> -->
          </a>
          <a href="product4" class="services__item">
            <div class="item_img">
              <img src="../static/assets/imgs/product-imgs/product-4.jpg" alt="">
            </div>
            <h3>API Automation Testing</h3>
            <p>
              Streamline your development process and improve the quality of your APIs with automated testing.
            </p>
            <!-- <div class="services__item-arrow">
              <span>&#8594;</span>
            </div> -->
          </a>
          <a href="product5" class="services__item">
            <div class="item_img">
              <img src="../static/assets/imgs/product-imgs/product-5.png" alt="">
            </div>
            <h3>Smart UI Automation Testing (Web)</h3>
            <p>
              Utilize AI-powered testing to optimize your web application's user interface and user experience.
            </p>
            <!-- <div class="services__item-arrow">
              <span>&#8594;</span>
            </div> -->
          </a>
          <a href="product6" class="services__item">
            <div class="item_img">
              <img src="../static/assets/imgs/product-imgs/product-6.png" alt="">
            </div>
            <h3>QA Performance & Capacity Planning</h3>
            <p>
              Ensure your application can handle high traffic loads and provide optimal performance for your users.
            </p>
            <!-- <div class="services__item-arrow">
              <span>&#8594;</span>
            </div> -->
          </a>
          <a href="product7" class="services__item">
            <div class="item_img">
              <img src="../static/assets/imgs/product-imgs/product-7.png" alt="">
            </div>
            <h3>Manual Functional Testing</h3>
            <p>
              Ensure that your software meets the functional requirements of your users with thorough manual testing.
            </p>
            <!-- <div class="services__item-arrow">
              <span>&#8594;</span>
            </div> -->
          </a>
        </div>
      </div>
    </section>

    {% endblock %}