{% extends "base.html" %} {% block content %}
<head>
  <link rel="stylesheet" href="static/assets/css/login.css" />
</head>

<section class="login-form">
  <div class="container login__container">
    <div class="row">
      <div class="col-lg-6">
        <form action="loginUser" method="POST">
          {% csrf_token %}
          <h2>Login</h2>
          <div class="input_field">
            <label for="username">Username</label>
            <input name="username" type="text" />
            <span class="error-message" id="username-error"></span>
          </div>
          <div class="input_field">
            <label for="password">Password</label>
            <input name="password" type="password" />
            <span class="error-message" id="password-error"></span>
          </div>
          <button class="login-btn">Login</button>
          <a class="create-account" href="registration.html">Create Account</a>
        </form>
      </div>
      <div class="col-lg-6">
        <img src="static/assets/imgs/Contact us-rafiki.png" alt="" />
      </div>
    </div>
  </div>
</section>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", (event) => {
    event.preventDefault();

    const usernameInput = form.elements.username;
    const passwordInput = form.elements.password;
    const usernameValue = usernameInput.value.trim();
    const passwordValue = passwordInput.value.trim();

    if (usernameValue === "") {
      showError(usernameInput, "*Please enter your username.");
      return;
    }

    if (passwordValue === "") {
      showError(passwordInput, "*Please enter your password.");
      return;
    }

    form.submit();
  });

  function showError(input, message) {
    const errorSpan = document.querySelector(`#${input.name}-error`);
    input.classList.add("error");
    errorSpan.textContent = message;
    errorSpan.style.display = "block";

    input.addEventListener("input", () => {
      if (input.classList.contains("error")) {
        input.classList.remove("error");
      }
      errorSpan.style.display = "none";
    });
  }
</script>

{% endblock %}
