{% extends "home.html" %} {% block content %}
<head>
  <link rel="stylesheet" href="static/assets/css/order-confirmation.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<section id="orderConfirmationSection" class="container-fluid">
  <div class="order-confirmation">
    <h2>Order Confirmation</h2>
    <div style="display: flex">
      <div class="shipping-info">
        <h3>Shipping Information</h3>
        <p id="fullname">{{userdata.fullname}}</p>
        <p id="city">{{userdata.city}}</p>
        <p id="state">
          {{userdata.state}}, {{userdata.country}}-{{userdata.zipcode}}
        </p>
        <p>Email: {{userdata.email}}</p>
      </div>
      <div class="payment-info">
        <h3>Payment Information</h3>
        <p>Credit Card: {{userdata.cardnumber}}</p>
        <p>Expiration Date: {{userdata.month}}-{{userdata.year}}</p>
        <p>Billing Address</p>
        <p id="billingCity">{{userdata.city}}</p>
        <p id="billingState">
          {{userdata.state}}, {{userdata.country}}-{{userdata.zipcode}}
        </p>
      </div>
    </div>
    <div class="confirmation-message">
      <p>Thank you for your order!</p>
      <p id="order-id"></p>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // const decrementBtn = document.querySelector(".decrement");
  // const incrementBtn = document.querySelector(".increment");
  // const quantityInput = document.querySelector('input[type="number"]');

  // decrementBtn.addEventListener("click", () => {
  //   let currentValue = parseInt(quantityInput.value);
  //   if (currentValue > 1) {
  //     quantityInput.value = --currentValue;
  //   }
  // });

  // incrementBtn.addEventListener("click", () => {
  //   let currentValue = parseInt(quantityInput.value);
  //   if (currentValue < parseInt(quantityInput.getAttribute("max"))) {
  //     quantityInput.value = ++currentValue;
  //   }
  // });

  $(document).ready(() => {
      function getTimestamp() {
        const now = new Date();
        const year = now.getFullYear().toString().slice(-2);
        const month = (now.getMonth() + 1).toString().padStart(2, "0");
        const day = now.getDate().toString().padStart(2, "0");
        const hours = now.getHours().toString().padStart(2, "0");
        const minutes = now.getMinutes().toString().padStart(2, "0");
        const seconds = now.getSeconds().toString().padStart(2, "0");
        return `${year}${month}${day}${hours}${minutes}${seconds}`;
      }

      const orderIdElement = document.getElementById("order-id");
      orderIdElement.textContent = `Order ID: #AB${getTimestamp()}`;
    });
</script>

{% endblock %}
