
{% extends "home.html" %}
{% block content %}
<head>
<link rel="stylesheet" href="static/assets/css/order-confirmation.css" />
</head>

<section id="orderConfirmationSection" class="container-fluid">
  <div class="order-confirmation">
    <h2>Order Confirmation</h2>
    <div class="order-summary">
      <h3>Order Summary</h3>
      <div class="product-container">
        <div class="product">
          <img src="../assets/imgs/api.png" alt="Product 1" />
          <div class="product-details">
            <h4 id="productName">API Automation Testing</h4>
            <h5 id="productPrice">$25,000</h5>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; ">
      <div class="shipping-info">
        <h3>Shipping Information</h3>
        <p id="fullname">{{userdata.fullname}}</p>
        <p id="city">{{userdata.city}}</p>
        <p id="state">{{userdata.state}}, {{userdata.country}}-{{userdata.zipcode}}</p>
        <p>Email: {{userdata.email}}</p>
      </div>
      <div class="payment-info">
        <h3>Payment Information</h3>
        <p>Credit Card: {{userdata.cardnumber}}</p>
        <p>Expiration Date: {{userdata.month}}-{{userdata.year}}</p>
        <p>Billing Address</p>
        <p id="billingCity">{{userdata.city}}</p>
        <p id="billingState">{{userdata.state}}, {{userdata.country}}-{{userdata.zipcode}}</p>
      </div>
    </div>
    <div class="confirmation-message">
      <p>Thank you for your order!</p>
      <p id="order-id"></p>gbhdfhfdg
    </div>
  </div>
</section>

    <script>
      const decrementBtn = document.querySelector(".decrement");
      const incrementBtn = document.querySelector(".increment");
      const quantityInput = document.querySelector('input[type="number"]');

      decrementBtn.addEventListener("click", () => {
        let currentValue = parseInt(quantityInput.value);
        if (currentValue > 1) {
          quantityInput.value = --currentValue;
        }
      });

      incrementBtn.addEventListener("click", () => {
        let currentValue = parseInt(quantityInput.value);
        if (currentValue < parseInt(quantityInput.getAttribute("max"))) {
          quantityInput.value = ++currentValue;
        }
      });

        function generateRandomOrderId(length) {
          const characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
          let orderId = "";

          for (let i = 0; i < length; i++) {
            const randomIndex = Math.floor(Math.random() * characters.length);
            orderId += characters.charAt(randomIndex);
          }

          return orderId;
        }

        const confirmationMessage = document.querySelector(".confirmation-message");
ers
        const randomOrderId = generateRandomOrderId(8);

        const orderIdElement = document.createElement("p");
        orderIdElement.textContent = `Order ID: ${randomOrderId}`;

        confirmationMessage.appendChild(orderIdElement);
    </script>

{% endblock %}
