{% extends "base.html" %} {% block content %}
<head>
  <link rel="stylesheet" href="static/assets/css/product-details.css" />
</head>

<section class="container-fuild product-details">
  <div class="container">
    <form action="addToCart" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-6 img-bx">
          <img src="../static/assets/imgs/product-imgs/product-5.png" alt="" />
        </div>
        <div class="col-lg-6 cont-bx">
          <h2>Smart UI Automation Testing (Web)</h2>
          <p>
            Our smart UI automation testing services use the latest technologies,
            such as AI and machine learning, to automate your app's UI testing,
            providing you with faster, more accurate, and more reliable test
            results. Our experts use a data-driven approach to testing, analyzing
            your app's performance metrics and user behavior to identify any
            defects or issues, helping you deliver an app that provides the best
            possible user experience.
          </p>
          <div class="select-category">
            <h5>Select Category</h5>
            <div class="categories col-lg-12 row">
              <label class="col-lg-6">
                Functionality Testing
                <input type="checkbox" name="functionality-testing" />
              </label>
              <label class="col-lg-6">
                Performance Tesitng
                <input type="checkbox" name="performance-tesitng" />
              </label>
              <label class="col-lg-6">
                Usability Testing
                <input type="checkbox" name="usability-testing" />
              </label>
              <label class="col-lg-6">
                Security Testing
                <input type="checkbox" name="security-testing" />
              </label>
            </div>
          </div>
          <div class="select-duration">
            <h5>Select Duration</h5>
            <div class="duration col-lg-12 row">
              <label class="col-lg-6">
                6 Months (price $10)
                <input type="radio" name="duration" value="6 Months" />
              </label>
              <label class="col-lg-6">
                12 Months (price $15,000)
                <input type="radio" name="duration" value="12 Months" />
              </label>
            </div>
          </div>
          <div class="ctas">
            <div class="cta-buttons col-lg-12 row">
              <button class="col-lg-6 btn1">Buy Now</button>
              <button class="col-lg-6 btn2">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script>
  const decrementBtn = document.querySelector(".decrement");
  const incrementBtn = document.querySelector(".increment");
  const quantityInput = document.querySelector('input[type="number"]');

  decrementBtn.addEventListener("click", () => {
    let currentValue = parseInt(quantityInput.value);
    if (currentValue > 1) {
      quantityInput.value = --currentValue;
    }
  });

  incrementBtn.addEventListener("click", () => {
    let currentValue = parseInt(quantityInput.value);
    if (currentValue < parseInt(quantityInput.getAttribute("max"))) {
      quantityInput.value = ++currentValue;
    }
  });
</script>
{% endblock %}
