.checkout {
  padding-top: 150px;
}

.checkout .row {
  width: 100%;
}

.billing {
  /* background-color: aquamarine; */
  /* padding: 30px; */
  margin-bottom: 50px;
  /* margin-top: 20px; */
}

.billing h2 {
  width: 100%;
  background-color: #1292ee;
  color: #fff;
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.billing form {
  width: 100%;
  margin-top: 20px;
}

.input-field {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 15px;
}

.input-field2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #c5ced6;
}

label {
  margin-bottom: 10px;
}

button {
  padding: 15px 20px;
  background-color: #171332;
  color: #fff;
  border: 1px solid;
  border-radius: 6px;
}

.items {
  /* padding: 20px 20px; */
  display: flex;
}

.items img {
  width: 150px;
}

.items {
  padding: 10px 10px;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 15px;
}

.total {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* padding: 10px 20px; */
  padding-right: 20px;
}

.btn {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn button {
  width: 100%;
}

button {
  background-color: #1292ee;
  padding: 10px 40px;
}

.details-bx {
  /* padding: 10pxs; */
}

.billing {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.details-cont {
  /* border: 1px solid; */
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

input.error {
  border: 1px solid red;
}

.error-message {
  text-align: start;
  font-size: 14px;
  color: red;
}