.login-form {
    padding: 50px 0;
    height: 100vh;
  }
  
  form {
    text-align: left;
    padding: 150px;
    border-radius: 6px;
    box-shadow: 0px 5px 110px rgba(0, 0, 0, 0.1);
  }
  
  form h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #171332;
  }
  
  .input_field {
    /* min-width: 300px; */
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .input_field label {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .input_field input {
    /* width: 100%; */
    padding: 12px 20px;
    border: 0.5px solid #171332;
    border-radius: 3px;
  }
  
  .login-btn {
    padding: 12px 30px;
    color: #fff;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #171332;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .error-message {
    font-size: 14px;
    color: red;
  }
  
  .create-account {
    margin-left: 100px;
    display: inline-flex;
    margin-top: 15px;
    color: #171332;
    font-size: 14px;
    text-decoration: underline;
  }
