.order-confirmation {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.order-confirmation h2 {
  text-align: center;
  margin-bottom: 30px;
}

.order-summary {
  margin-bottom: 30px;
}

.order-summary h3 {
  margin-bottom: 20px;
}

.order-summary table {
  width: 100%;
  border-collapse: collapse;
}

.order-summary td {
  padding: 10px;
  border: 1px solid #ccc;
}

.order-summary td:first-child {
  width: 60%;
}

.shipping-info {
  margin-right: 50px;
}

.shipping-info,
.payment-info {
  margin-bottom: 30px;
}

.shipping-info h3,
.payment-info h3 {
  margin-bottom: 20px;
}

.confirmation-message {
  text-align: center;
}

.confirmation-message p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.items {
  display: flex;
}

.items img {
  width: 150px;
  margin-right: 100px;
}

.details {
  width: 100%;
}

.product {
  display: flex;
  margin-bottom: 50px;
}

.product img {
  width: 150px;
}

@media (max-width: 767px) {
  .order-confirmation {
    padding: 20px;
  }

  .order-summary td {
    font-size: 14px;
  }

  .order-details {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  .shipping-info,
  .payment-info {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .shipping-info h3,
  .payment-info h3 {
    margin-bottom: 10px;
  }

  .items {
    flex-wrap: wrap;
  }

  .items img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .product img {
    width: 100%;
  }

  .confirmation-message p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}