.registration-form {
    padding: 50px 0;
    height: 120vh;
    margin-bottom: 10rem;
}

.registration__container {
    position: relative;
    padding-top: 200px;
}

form {
    background-color: antiquewhite;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0px 5px 110px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #171332;
}

.input_field {
    min-width: 300px;
    margin-bottom: 1.5rem;
}

.input_field label {
    margin-bottom: .5rem;
    font-weight: 600;
}

.input_field input {
    width: 100%;
    padding: 12px 20px;
    border: .5px solid #171332;
    border-radius: 3px;
}

.registration-btn {
    padding: 12px 30px;
    color: #fff;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #171332;
}

input.error {
    border: 1px solid red;
}

.error-message {
    font-size: 14px;
    color: red;
}