/* 
    POPPINS FONT
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

/* 
    CSS VARIABLES 
*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*
    COLORS 
*/
:root {
  --first-color: #1292ee;
  --second-color: #253642;
  --third-color: #eeeeee;
  --fourth-color: #253642;
}

/* 
    FONTS
*/
@font-face {
  font-family: "Tenorite", sans-serif;
  src: url("../fonts/tenorite-cufonfonts-regular-normal.ttf") format("ttf");
}

/* 
    TYPOGRAPHY 
*/
:root {
  --body-font: "Tenorite", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

/* 
    MARGENS 
*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* 
    Z-INDEX 
*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* 
    BASE 
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: #fff;
}

h1,
h2,
p {
  margin: 0;
}

p {
  /* color: #999999; */
  line-height: 1.8;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/*
    HEADER
*/
header {
  position: fixed;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  z-index: 1000;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

header .header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header__container .header__nav-links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header__container .header__nav-links .header__logo {
  margin-right: 4rem;
  width: 160px;
}

/* header .header__container .header__nav-links .header__logo a {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--first-color);
} */

header .header__container .header__nav-links .header__logo a img {
  width: 100%;
  margin-right: 10px;
}

header .header__container .header__nav-links ul {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header__container .header__nav-links ul li {
  list-style: none;
  margin-right: 30px;
}

header .header__container .header__nav-links ul li a {
  color: var(--second-color);
  font-size: 16px;
}

header .header__container .header__account-links a {
  position: relative;
  font-weight: bold;
  /* margin-left: 5px; */
  padding: 14px 30px;
  border-radius: 6px;
}

header .header__container .header__account-links {
  display: flex;
}

.account-login-btn {
  color: var(--second-color);
}

.account-sign-up-btn {
  color: #fff;
  background-color: var(--first-color);
}

#profile_img {
  background: none;
  padding: 0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--first-color);
}

#logout {
  padding: 12px 30px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--first-color);
  margin-right: 30px;
}

#profile_img i {
  color: var(--first-color);
  font-size: 24px;
}

#cart {
  background: none;
  padding: 0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  /* overflow: hidden; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--first-color);
}

#cart i {
  color: var(--first-color);
  font-size: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10000;
}

.dropdown-content {
  padding: 20px 20px;
  display: none;
  position: absolute;
  /* background-color: var(--third-color); */
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #fff;
  border-radius: 6px;
}

.dropdown-content p {
  font-weight: bold;
  color: #171332;
}

.dropdown-content a {
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  /* border-radius: 3px; */
  color: #171332;
  border-radius: 6px;
  border: 1px solid #1111111d;
  /* background-color: #2a5d671b; */
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*
    BANNER
*/
.banner {
  /* background-color: #f5f5f5; */
  padding: 100px 0 0;
  /* height: 100vh; */
  background-color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.banner-content {
  flex-basis: 60%;
  padding-right: 50px;
}

.banner-image {
  flex-basis: 40%;
}

.banner-image img {
  width: 100%;
  height: auto;
}

.banner-content h1 {
  margin-bottom: var(--mb-4);
  font-size: 3.2rem;
  font-weight: bold;
}

.banner-content p {
  margin-bottom: var(--mb-6);
  font-size: var(--h2-font-size);
}

.cta-button {
  /* font-weight: bold; */
  padding: 20px 60px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--first-color);
  margin-right: 30px;
}

.cta-button2 {
  padding: 20px 60px;
  border-radius: 6px;
  color: var(--first-color);
  /* background-color: var(--first-color); */
  border: 1px solid;
}

@media (max-width: 768px) {

  .banner{
    height: 100%;
    padding-top: 150px;
  }

  .banner-content h1 {
    font-size: 2.2rem;
    /* text-align: start; */
  }

  .banner-content p {
    font-size: 1rem;
  }

  .banner-content {
    flex-basis: 100%;
    padding-right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .banner-content a {
    margin: 10px;
    padding: 15px 60px;
  }

  .banner-image {
    flex-basis: 100%;
    margin-top: 30px;
  }
}

/* 
  TOOLS
*/
.tools img {
  width: 100%;
}

.tools .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools .img-bx {
  /* width: 300px; */
}

.tools .img-bx img {
  width: 70%;
}

@media (max-width: 767px) {
  .tools .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tools .img-bx {
    width: 50%;
    max-width: 150px; /* Limit the maximum width of the image box */
    margin-bottom: 20px;
  }

  .tools .img-bx img {
    width: 100%;
  }
}

.we-provide {
  margin-top: 100px;
}

.we-provide .row {
  justify-content: center;
}

@media (max-width: 767px) {
  .we-provide .row {
    flex-wrap: wrap;
  }

  .we-provide h2 {
    margin-bottom: 15px;
  }
  
  .we-provide h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .we-provide .col-lg-4,
  .we-provide .col-lg-6 {
    flex-basis: 100%;
    text-align: center;
  }
}

/* 
    SERVICE
*/
.services {
  background-color: #fff;
  padding: 60px 0;
}

.services__container h2 {
  font-weight: bold;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.services__item {
  width: 32%;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 6px;
  background-color: #fff;
  transition: 0.1s linear;
  /* border: 1px solid var(--fourth-color); */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.services__item:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.services__item .item_img {
  width: 200px;
  height: 200px;
}

.services__item .item_img img {
  width: 100%;
  /* height: 100%; */
}

.services__item h3 {
  color: var(--second-color);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.services__item p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.services__item-description {
  display: flex;
  align-items: center;
}

.services__item-description p {
  margin-bottom: var(--mb-3);
  font-size: 16px;
}

.services__item-arrow {
  margin-left: 5px;
  font-size: 24px; /* Increased font size */
}

.services__item-arrow span {
  display: block;
}

@media screen and (max-width: 768px) {
  .services__list {
    flex-direction: column;
    align-items: center;
  }

  .services__item {
    width: 100%;
  }
}

/*
  FOOTER
*/
footer {
  padding: 60px 0 20px;
  background-color: #171332;
  /* border-top-left-radius: 200px; */
  /* border-top-right-radius: 200px; */
  color: #fff;
  border-top: 10px solid #1292ee;
}

footer a {
  text-decoration: none;
}

.footer__logo {
  width: 54px;
  margin-bottom: 15px;
}

footer .all-serv a {
  color: #fff;
}

footer .user-link a {
  color: #fff;
}

footer .container .links {
  position: relative;
  display: flex;
}

footer .container .links a {
  margin: 8px 0;
  margin-right: 20px;
}

footer .container .links i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

footer .container .links i:hover {
  transform: translateY(-3px);
}

footer h4 {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

footer h4 img {
  width: 44px;
  margin-right: 10px;
}

footer h5 {
  margin-bottom: 20px;
}

footer h6 {
  font-weight: bold;
  letter-spacing: 1px;
}

.term-condition {
  margin-top: 3rem;
  width: 100%;
}

.comlpany-desc {
  margin-right: 60px
}

@media (max-width: 767px) {
  footer .row {
    flex-wrap: wrap;
  }

  .all-serv,
  .useful-links {
    margin-top: 15px;
  }

  .comlpany-desc {
    margin: 0;
  }

  .term-condition {
    text-align: center;
  }

  .term-condition p {
    margin-bottom: 10px;
  }
}